
.header {
    gap: 15px;
    color: #1877f2;
    ;
    margin-right: 100px;

    display: flex;
    justify-content: ;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.9);
    margin-right: 250px;
    padding: 0%;
    margin-left: 100px;
    background-color: antiquewhite;
}

.card__header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 15px;
    padding: 0%;
}

#button {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;

}

.button {
    justify-content: center;
    display: flex;
}

.card__button {
    text-decoration: none;
    background-color: #4caf50;
    padding: 8px 16px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    width: 75px;
    padding: 10px;
    border-radius: 30px;
}

.card__button__next {
    padding: 5px;
}

.button__next {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

footer {
    background-color: white;
    margin-top: 50px;
    height: 600px;
    width: auto;
    display: flex;
    flex-direction: row
}

.footer__text {
    color: black;
    display: flex;
    flex-direction: row;

}

.card__input {
    height: 23px;
    width: auto;


}

.header__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-left: 75px;


}