main {
    background-color: #c9ccd1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: auto;
}

@media only screen and (max-width: 1200px) {

    /* CSS rules for screens with a width of 600px or less */
    body {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: 100vh;
        justify-content: center;
        background-color: blue;


    }

    main {
        width: unset;
        min-height: unset;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .header__top {
        width: 350px;
        justify-content: center;
        padding: unset;
        margin: 0%;


    }

    .card {
        margin: 0%;
        padding: 0%;
        min-width: unset;
        min-height: unset;
    }
}
@media only screen and (max-width:430px){
    body {
  background-color: red;
    }
    .card  {
        width: 260px;
    }
    .header__top{
        width: 250px;
}
}